body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  color: white;
}

.page-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
